input{
  width : 300px;
  font-size : 17px;
  padding-top : 12px;
  padding-bottom : 12px;
  padding-left : 15px;
  padding-right : 15px;
  border : none;
  border-radius : 30px;
  box-shadow : 0px 1px 5px rgba(0,0,0,0.15);
  margin-top: 20px;
  margin-left: 20px;
}