p{
  font-family : Arial;
  font-size : 15px;
  margin-top : 0px;
  margin-bottom : 0px;
}
.email{
  color : rgb(100,100,100);
  margin-bottom : 10px;
}
.text-box{
  width : 350px;
  padding-top : 8px;
  padding-bottom : 8px;
  padding-left : 12px;
  padding-right : 12px;
  border-width : 2px;
  border-radius : 8px;
  margin-bottom : 20px;
}
.rule{
  padding-bottom : 20px;
  color : rgb(100,100,100);
}
.btn{
  width : 350px;
  padding-top : 12px;
  padding-bottom : 12px;
  padding-left : 16px;
  padding-right : 16px;
  background-color : rgb(71, 71, 203);
  border : none;
  border-radius : 32px;
  color : white;
  font-family : Arial;
  

}