.cat-logo{
  width : 50px;
  height : 50px;
  object-fit : cover;
  object-position : center;
  border-radius : 25px; 
  vertical-align : middle;
}

input{
  width: 300px;
  font-size : 18px;
  border : none;
  vertical-align : middle;
  margin-left : 6px;
}

.tweet-btn{
  padding-top : 8px;
  padding-bottom : 8px;
  padding-left : 16px;
  padding-right : 16px;
  background-color : rgb(24, 24, 180);
  color : white;
  font-weight : bold;
  font-size : 16px;
  border : none;
  border-radius : 30px;
  vertical-align : middle;
}