.sidebar{
  background-color : white;
  position : fixed;
  width : 72px;
  padding-top : 20px;
  top : 50px;
  left : 0;
  bottom : 0;
  z-index : 3;
}
.sidebar div{
  height : 75px;
}
.sidebar div:hover{
  background-color : rgb(242, 239, 239);
  cursor : pointer;
}
.sidebar-link img{
  width : 26px;
  
}
.sidebar-link div{
  font-family : Roboto,Arial;
  font-size : 10px;
  margin-top:4px;
}

.sidebar-link{
  display:flex;
  flex-direction : column;
  align-items : center;
  justify-content : center;
  padding-top :30px;
}
