.container{
  display : grid;
  grid-template-columns: 500px;
  row-gap : 20px;
  border-style : solid;
}

.sub-container{
  display : grid;
  grid-template-columns: 70px 300px 100px;
  column-gap : 10px;
  align-items : center;
}

.logo{
  width : 50px;
  height : 50px;
  object-fit : cover;
  border-radius : 25px;
  margin-left : 7px;
}

.info-row{
  font-family : Arial;
  padding-top : 0px;
  padding-bottom : 0px;
  width : 60px;
  line-height : 22px;
  margin-top : 0px;
  margin-bottom : 0px;
}

.info-name{
  font-weight : bold;
  font-size : 18px;
  margin-bottom : 7px;
  margin-top : 0px;
  margin-bottom : 0px;
}

.info-description{
  color : rgb(106, 88, 88);
  font-size : 16px;
  margin-top : 0px;
  margin-bottom : 0px;

}

.follow-btn{
  padding-top : 8px;
  padding-left : 16px;
  padding-bottom : 8px;
  padding-right : 16px;
  color : white;
  font-weight : bold;
  font-size : 21px;
  border-radius : 7px;
  background-color : #3f3fff;
  border : none;
}