.vedio-title{
      font-family : Arial;
      font-weight : bold;
      font-size : 18px;
      width : 280px;
      margin-top :0px;
      margin-bottom : 3px;
      line-height: 25px;
    }

   .vedio-stats{
      color : rgb(96, 96, 96);
      margin-top : 0px;
      margin-bottom :20px;
      font-family : Arial;
      font-size : 14px;
    }

   .vedio-author{
     font-family : Arial;
     font-size : 14px;
     margin-top : 0px;
     margin-bottom : 16px;
     color : rgb(96, 96, 96);
   }

  .vedio-description{
    color : rgb(96,96,96);
    width : 280px;
    line-height : 20px;
    margin-top : 0px;
    margin-bottom : 100px;

  }
  
  .vedio-end{
    margin-top : 0px;
    color : rgb(96,96,96);
    text-align : center;
    background-color : rgb(227,65,64);
    padding-top : 15px;
    padding-bottom : 15px;
    color : white;
    margin-bottom : 1000px; 

  }

  .shop-now{
    cursor : pointer;
  }

  .shop-now:hover{
    text-decoration : underline;
  }